.flex-tl {
    display: flex;
    flex-wrap: wrap;
}

.btnbuy:hover {
    background: #606060 !important;
}

.pl-3 {
    padding-left: 3rem;
}

.logo {
    width: 100px;
    height: 70px;
    object-fit: cover;
}

.mt-3 {
    margin-top: 3rem;
}